//- 信息提示框
#msgModal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title 操作提示
                    button.close(type="button", data-dismiss="modal") 关闭
            .modal-body
                #msg
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") 确定