//- 我的瓶子
#myBottleModal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title 我的瓶子
                    button.close(type="button",data-dismiss="modal") 关闭
            .modal-body
                #myBottleRows.row
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") 确定