//- 通用模板文件
doctype html
html
   head
      title=title
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport",content="width=device-width,initial-scale=1")
      link(rel="stylesheet",href="/lib/bootstrap/dist/css/bootstrap.min.css")
      style.
         body{font-family:"微软雅黑"!important;}
   body(style="background:url('/images/background.jpg') center;background-size:cover;")
      block content
   script(src="/lib/jquery/dist/jquery.min.js")
   script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
   script(src="/javascripts/drift.js")